@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:500');
@import 'colors.scss';
/*
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.188em;
  letter-spacing: 1.5px; 
}
.over_hidden{
  overflow:hidden;
}
.menu{
  //display: none;
  position: fixed;
  bottom: 5%;
  right: 1%;
  font-size: 35px;
  color: $color_gris_claro;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  &__top{
    text-align: center;
    display: block;
    background-color: rgba( $color_verde, .9 );
    padding: .2em .4em;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 1000;
  }
}
.show{
  opacity: 1;
  visibility: visible;
}
/***** Hero section *****/
.hero{
    background: url("../images/hero.jpg") no-repeat center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
  &__telephone{
    background-color: $color_gris_oscuro;
    color: $color_texto;
    font-size: .7em;
    padding-right: 1em;
    padding: 1em 0;
    text-align: right;
  }
  &__number_tel{
    background: url("../images/icono_telephone.svg") no-repeat left;
    background-size: 1em;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-top: .6em;
    margin-right: .7em;
    padding-left: 1.3em;
    transition: color .3s ease-in-out;
    &:hover{
      color: $color_verde;
    }
  }
  &__gps{
    background: url("../images/icono_gps.svg") no-repeat left;
    background-size: 1em;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-right: .7em;
    padding-left: 1.3em;
  }
  &__nav{
    align-items: center;
    background-color: $color_gris_claro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content:space-between;
    padding: .7em 0;
    position: relative;
    z-index:100;
  }
  &__logo{
    color: $color_negro;
    margin-left: .5em;
      width: 80px;
      height: 55px;
  }
  &__ul{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin-right: .5em;
    display:none;
  }
  &__li{
    padding: 0 .8em;
  }
  &__li:nth-child(3){
    padding-right: 0;
  }
  &__a{
    color: $color_negro;
    padding: 0 .2em;
    transition: color .3s ease-in-out;
    &:hover{
      color: $color_verde;
    }
  }
  /* Icono Hamburguesa */
  &__button_nav--toggle {
    height: 48px;
    //margin-right: .5em;
    position: relative;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    width: 48px;
    & span {
      background-color: $color_verde;
      display: block;
      height: 3px;
      left: 14px;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      -webkit-transition: .4s;
      transition: .4s;
      width: 20px;
    }
    & span:first-child {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
    }
    & span:last-child {
      -webkit-transform: translateY(6px);
              transform: translateY(6px);
    }

    /* Menu Active */
    &.active span:first-child {
      -webkit-transform: rotate(45deg) translate(0);
              transform: rotate(45deg) translate(0);
    }
    &.active span:nth-child(2) {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
    &.active span:last-child {
      -webkit-transform: rotate(-45deg) translate(0);
              transform: rotate(-45deg) translate(0);
    }
  }
}
/* Sidenav Menu Responsive */
.sidenav {
  color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  padding: 50px 20px;
  position: fixed;
  left: 0;
  top: 75px;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .4s;
  transition: .4s;
  will-change: transform;
  z-index: 99;
  &__in{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  &__wrap {
    background: $color_gris_oscuro;
    overflow: auto;
    padding: 20px 0;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  &__ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin-right: .5em;
  }
  &__li{
    border-bottom: 2px solid $color_verde;
    margin: .3em 1.6em;
  }
  &__a {
    color: $color_texto;
    display: block;
    padding: .5em 0;
    transition: color .3s ease-in-out;
    &:hover{
      color: $color_verde;
    }
  }
}
/**** Services section****/
.services{
  background-color: $color_gris_oscuro;
  padding-bottom: 1em;
  &__title{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding: 1em 0 .5em 0;
    text-align: center;
  }
  &__first_text{
    color: $color_texto;
    line-height: 1.6;
    padding: 0 2em;
  }
  &__container{
    padding-top: 2em;
  }
  &__article{
    background-color: $color_gris_claro;
    margin-bottom: 1.5em;
  }
  &__info{
    background-color: $color_gris_claro;
    padding: 1em 0;
    text-align: center;
  }
  &__header{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1em;
    text-transform: uppercase;
    &::after {
      display: block;
      content: "";
      background: $color_verde;
      width: 60px;
      height: 2px;
      margin: 1em auto;
    }
  }
  &__text{
    color: $color_texto;
    font-size: .9em;
    padding: 0 1.5em;
    text-align: left;
  }
}
/***** Jobs *****/
.jobs{
  background-color: $color_gris_oscuro;
  padding-bottom: 1em;
  &__title{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding: 1em 0 .5em 0;
    text-align: center;
  }
  &__text{
    color: $color_texto;
    line-height: 1.6;
    padding: 0 2em;
  }
  &__gallery_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  &__gallery_item{
    width: 95vw;
    height: 85vw;
    border: 1px solid #fffefe;
    margin-bottom: 1em;
    align-self: center;
  }
  &__gallery_item a img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }
}
/**** footer *****/
.footer{
  background-color: $color_gris_claro;
  color: $color_texto;
  font-size: .9em;
  text-align: center;
  padding: 1.7em 0 1.5em 0;
  &__email--color:hover{
    color: $color_verde;
  }
}

/**** Media Queries *****/
@media screen and (min-width:420px) {
  .hero{
    &__number_tel{
      margin-top: 0;
    }
  }
}
@media screen and (min-width:600px) {
  .hero{
    &__logo{
      width: 100px;
      height: 69px;
    }
    &__button_nav--toggle{
      display: none;
    }
    &__ul{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  .sidenav{
    display: none;
  }
  .services{
    &__container{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 .5em;
      padding-top: 2em;
    }
    &__title{
      font-size: 2.3em;
    }
    &__article{
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: calc(50% - .2em);
      flex: 0 1 calc(50% - .2em);
    }
  }
  .jobs__title{
    font-size: 2.3em;
  }

}
@media screen and (min-width:800px) {
  .hero{
    &__number_tel{
      margin-right: 2.8em;
      margin-top: 0;
    }
    &__logo{
      margin-left: 2.5em;
    }
    &__ul{
      margin-right: 2em;
    }
    &__li{
      padding: .5em 1em;
    }
    &__a{
      padding: .3em .5em;
      transition: color .3s ease-in-out;
    }
  }
  .jobs__gallery_container{
    -webkit-box-orient: row;
    -webkit-box-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3em;
  }
  .jobs__gallery_item{
    width: 47vw;
    height: 45vw;
    margin: .8em .5em;
  }
  .footer{
    font-size: 1em;
  }
}
@media screen and (min-width:1000px) {
  .hero__logo{
    width: 120px;
    height: 83px;
  } 
  .services{
    min-height: 100vh;
    &__container{
      margin-top: 3em;
      padding-top: 0;
    }
    &__article{
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: calc(25% - .2em);
      flex: 0 1 calc(25% - .2em);
      margin: 0;
    }
  }
  .jobs{
    min-height: 100vh;
    &__gallery_item{
      width: 31vw;
      height: 31vw;
    }
  }
}
@media screen and (min-width:1500px) {
  .services__text{
    font-size: 1em;
  }
  .jobs__gallery_item{
      margin: .8em;
    }
}
